bin
target
/release.bat
/.metadata
/RemoteSystemsTempFiles
/BANK/pom.xml.releaseBackup
/pom.xml.releaseBackup
/release-clean.bat
/release.bat.old
/release.properties
/.recommenders/caches
/.recommenders/index/http___download_eclipse_org_recommenders_models_mars_
/BANK/connection.properties
connection.properties
/.idea
/BANK/logger.properties

/BANK/.svn/pristine/01/*.svn-base
*.svn-base
logger.properties
load.iml
/BANK/bank.iml
/BANK/build.bat
build.bat
/startbankJAR.bat
remotes/origin/AuditExportToBars
BANK/.classpath
/BANK/.classpath
/BANK/.project
BANK/.project
.idea
